PORT=3000
USE_HTTPS=false
SSL_KEY_PATH=./certs/localhost-key.pem
SSL_CERT_PATH=./certs/localhost.pem
SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=https://localhost:3000/auth/spotify/callback
SPOTIFY_REFRESH_TOKEN=your_refresh_token
